In [1]:
import pandas as pd

In [2]:
name=['Sinlaku', 'Sinlaku', 'Sinlaku', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Hagupit', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Jangmi', 'Mekkhala', 'Mekkhala', 'Mekkhala', 'Mekkhala', 'Higos', 'Higos', 'Higos', 'Higos', 'Higos', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Bavi', 'Maysak', 'Maysak', 'Maysak', 'Maysak', 'Maysak', 'Maysak', 'Maysak', 'Maysak']
loss=[0.1760928961750512, 0.14983974358974628, 0.35876831501844286, 0.024285714285840143, -0.09532374100713348, 0.29731585290137197, -0.07043650793639422, -0.4264971139971028, -0.4460659898475736, -0.905906415379576, 0.3425925925927693, 0.5252980720449081, -0.360062893081766, -1.1344074623702642, 0.04127906976731488, -0.9530568677326201, 0.6056250000000887, -0.0012898936170238073, 0.3227272727272812, -1.5015374331552245, -0.03160112359539724, -2.9021627177982907, 0.39187116564444224, -0.7643788343557141, 0.19054878048783408, -1.4666141408605107, -0.21988636363612102, -1.369444444444678, 0.3673312883437774, -0.5511752051628207, 0.05914634146317077, -1.659731209557373, 0.044230769230590994, -1.6641804457229021, -0.04270186335397952, -3.3673913043480432, 0.10027472527497139, -3.381597312639471, -0.6548494983277582, 0.20951957295377355, -0.0851884562436176, -0.07975113122192568, 0.31689189189192213, -0.09425133689862264, -0.11650264579892244, -0.2802835051547614, -0.3221753970466086, -0.7942307692308717, 0.2244897959185046, -0.03580432172845782, -0.03429878048773283, -0.43994849800177427, 0.3490853658537052, -0.19811858151461337, -0.26739130434769187, -1.0878576255913615, -0.4463190184047132, -0.9241140494604334, -0.5051169590645141, -0.6006216909252036, -0.33989726027399136, -1.0537526819606189, -0.005172413793097519, -0.7471366995071911, 0.018478260869532193, -0.8299854262813433, -0.27327127659559736, -2.2952470830473786, -0.13860103626928577, 0.08302919708014755, 0.11448080998323817, 0.13905325443796812, 0.44374938703468736, -0.11102484472047713, -0.7922748447203087, -0.17027559055120456]

In [3]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df['name']=name
df['loss']=loss
df

       name      loss
0   Sinlaku  0.176093
1   Sinlaku  0.149840
2   Sinlaku  0.358768
3   Hagupit  0.024286
4   Hagupit -0.095324
..      ...       ...
71   Maysak  0.139053
72   Maysak  0.443749
73   Maysak -0.111025
74   Maysak -0.792275
75   Maysak -0.170276

[76 rows x 2 columns]

In [5]:
df.to_csv('2020loss.csv')