# 计算速度和角度

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'../data/CMATC7-8/CH2017.csv')
df

     Unnamed: 0          时间    强度    纬度     经度  最低气压  最大风速        名字  月份
0            76       66666  1703   2.1    0.4  1703     0  NANMADOL   7
1            77  2017070106     1  15.8  132.2  1002    13  NANMADOL   7
2            78  2017070112     1  17.0  130.3  1000    15  NANMADOL   7
3            79  2017070118     1  18.8  128.8  1000    15  NANMADOL   7
4            80  2017070200     2  20.7  126.8   998    18  NANMADOL   7
..          ...         ...   ...   ...    ...   ...   ...       ...  ..
398         496       66666  1716   2.2    1.7  1716     0     MAWAR   8
399         497  2017083100     1  19.3  119.9  1002    13     MAWAR   8
400         498  2017083106     1  19.4  119.6  1002    13     MAWAR   8
401         499  2017083112     1  19.6  119.3  1000    15     MAWAR   8
402         500  2017083118     2  19.8  119.1   998    18     MAWAR   8

[403 rows x 9 columns]

In [3]:
df['速度'] = np.zeros(len(df))
df['角度'] = np.zeros(len(df))
df

,Unnamed: 0,时间,强度,纬度,经度,最低气压,最大风速,名字,月份,速度,角度
0,76,66666,1703,2.1,0.4,1703,0,NANMADOL,7,0.0,0.0
1,77,2017070106,1,15.8,132.2,1002,13,NANMADOL,7,0.0,0.0
2,78,2017070112,1,17.0,130.3,1000,15,NANMADOL,7,0.0,0.0
3,79,2017070118,1,18.8,128.8,1000,15,NANMADOL,7,0.0,0.0
4,80,2017070200,2,20.7,126.8,998,18,NANMADOL,7,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
398,496,66666,1716,2.2,1.7,1716,0,MAWAR,8,0.0,0.0
399,497,2017083100,1,19.3,119.9,1002,13,MAWAR,8,0.0,0.0
400,498,2017083106,1,19.4,119.6,1002,13,MAWAR,8,0.0,0.0
401,499,2017083112,1,19.6,119.3,1000,15,MAWAR,8,0.0,0.0
402,500,2017083118,2,19.8,119.1,998,18,MAWAR,8,0.0,0.0

In [4]:
def speed(lon1,lon2,lat1,lat2):
    R = 6371
    wa=lat1*np.pi/180
    wb=lat2*np.pi/180
    ja=lon1*np.pi/180
    jb=lon2*np.pi/180
    return R*np.arccos(np.sin(wa)*np.sin(wb)+np.cos(wa)*np.cos(wb)*np.cos(ja-jb))
def jiao(lon1,lon2,lat1,lat2):
    return np.arctan((lat2-lat1)/(lon2-lon1))

In [5]:
for i in range(1,len(df),1):
    if i == len(df)-1:
        break
    if (df.loc[i+1]['时间']==66666) or (df.loc[i]['时间']==66666) :
        continue
    df.loc[i,['速度']]=[speed(df.loc[i]['经度'] ,df.loc[i+1]['经度']  ,df.loc[i]['纬度']  ,df.loc[i+1]['纬度'])]

    df.loc[i,['角度']]=[jiao(df.loc[i]['经度'] ,df.loc[i+1]['经度']  ,df.loc[i]['纬度']  ,df.loc[i+1]['纬度'])]

D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))
D:\Temp\ipykernel_2120\3888734313.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  return np.arctan((lat2-lat1)/(lon2-lon1))

In [6]:
df

,Unnamed: 0,时间,强度,纬度,经度,最低气压,最大风速,名字,月份,速度,角度
0,76,66666,1703,2.1,0.4,1703,0,NANMADOL,7,0.000000,0.000000
1,77,2017070106,1,15.8,132.2,1002,13,NANMADOL,7,242.650807,-0.563316
2,78,2017070112,1,17.0,130.3,1000,15,NANMADOL,7,255.439114,-0.876058
3,79,2017070118,1,18.8,128.8,1000,15,NANMADOL,7,297.386830,-0.759763
4,80,2017070200,2,20.7,126.8,998,18,NANMADOL,7,201.937351,-0.938047
...,...,...,...,...,...,...,...,...,...,...,...
398,496,66666,1716,2.2,1.7,1716,0,MAWAR,8,0.000000,0.000000
399,497,2017083100,1,19.3,119.9,1002,13,MAWAR,8,33.380584,-0.321751
400,498,2017083106,1,19.4,119.6,1002,13,MAWAR,8,38.514468,-0.588003
401,499,2017083112,1,19.6,119.3,1000,15,MAWAR,8,30.544139,-0.785398
402,500,2017083118,2,19.8,119.1,998,18,MAWAR,8,0.000000,0.000000

In [28]:
df['角度'].max()

1.5707963267948966